@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Roboto&display=swap');

body {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.calc-body {
    height: 275px;
    width: 200px;
    background-color: rgb(67, 117, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.calc {
    height: 250px;
    width: 175px;
    background-color: rgb(145, 172, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width:150px;
    height:50px;
    border-radius: 3px;
    background-color: rgb(0, 7, 44);
    margin: 7px;
    display: flex;
    flex-direction: column;
    color: white;
}
.history {
    flex-grow: 1;
    text-align: end;
    font-size: small;
}
.currNumber {
    flex-grow: 2;
    text-align: end;
    font-size: larger;
}

.numpad {
    width: 150px;
    height:175px;
    display: flex;
    align-items: center;
  
}

.nums {
    width:112px;
    height: 175px;
    background-color:rgba(165, 42, 42, 0);
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.symbols {
    width: 37px;
    height: 175px;
    background-color: rgba(240, 255, 255, 0);
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nums > button {
    width: 32%;
}

button {
    border: none;
    border-radius: 2px;
    height: 28px;
    background-color:rgba(179, 198, 251, 0);
    cursor: pointer;
    color:aliceblue;
    
}
button:hover {background-color: rgb(207, 220, 255)}
